body{
	 background-color: #fff;
}
a{
	margin: 600px;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0
}
.wrapper {
	margin:50px 100px;
	width: ;
	height: ;
	border: 1px solid #000;
	background-color:#AED6F1;
}
s